[languages]
bash = ["{{ .chezmoi.homeDir }}/.local/share/mise/shims/shfmt -i 2 -"]
sh = ["{{ .chezmoi.homeDir }}/.local/share/mise/shims/shfmt -i 2 -"]
json = ["{{ .chezmoi.homeDir }}/.local/share/mise/shims/jq ."]
python = ["{{ .chezmoi.homeDir }}/.local/share/mise/shims/ruff format -"]
