[init]
	defaultBranch = main
[user]
	name = "Matt Niedelman"
	email = {{ .email }}
{{- if .work }}
	signingkey = {{ .chezmoi.homeDir }}/.ssh/git_signing_key
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
{{ end -}}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[merge]
	tool = "nvim"
	conflictStyle = zdiff3

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "nvim"]
	cmd = "nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
[core]
	editor = nvim
	autocrlf = input
	excludesfile = {{ .chezmoi.homeDir }}/.config/git/ignore
	pager = hunk pager
	hooksPath = {{ .chezmoi.homeDir }}/.config/git/hooks
[diff]
	colorMoved = default
	algorithm = histogram
	tool = hunk
[difftool]
	prompt = false
[difftool "hunk"]
	cmd = hunk difftool "$LOCAL" "$REMOTE" "$MERGED"
[alias]
	dft = "!GIT_EXTERNAL_DIFF=difft git diff"
	dt = difftool
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = false

[diff "python"]
	xfuncname = ^[ \t]*((class|(async[ \t]+)?def)[ \t].*)$
[credential]
	helper = !{{ .chezmoi.homeDir }}/.local/share/mise/shims/gh auth git-credential
[beads]
	role = contributor
[push]
	useForceIfIncludes = true
[trace2]
	eventTarget = af_unix:stream:{{ .chezmoi.homeDir }}/.git-ai/internal/daemon/trace2.sock
	eventNesting = 10
