[languages]
bash = ["{{ env.HOME }}/.local/share/mise/shims/shfmt -i 2 -"]
sh = ["{{ env.HOME }}/.local/share/mise/shims/shfmt -i 2 -"]
json = ["{{ env.HOME }}/.local/share/mise/shims/jq ."]
python = ["{{ env.HOME }}/.local/share/mise/shims/ruff format -"]
